*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
}
.box1{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    gap: 45px;
    position: fixed;
   
}
#item{
    font-size: 25px;
    position: absolute;
    top: 17px;
    left: 50px;
    color: red;
}
#item1{
    position: absolute;
    top: 20px;
    left: 800px;

}
#item2{
    position: absolute;
    top: 20px;
    left: 900px;

}#item3{
    position: absolute;
    top: 20px;
    left: 1040px;

}#item4{
    position: absolute;
    top: 20px;
    left: 1150px;

}#item5{
    position: absolute;
    top: 20px;
    left: 1250px;

}
#graph{
    font-size: 20px;
    position: relative;
    top: 17px;
    left: 90px;
    color: aqua;
}
.main1{
    height: 100px;
    width: 100px;
    border: 2px solid brown;
    position: absolute;
    top: 250px;
    left: 100px;
    transform: rotate(45deg);
      opacity:0.5 ;
}
.main2{
    height: 100px;
    width: 100px;
    border: 2px solid brown;
    position: absolute;
    top: 360px;
    left: 400px;
    transform: rotate(45deg);
      opacity:0.5 ;
}
.main3{
    height: 100px;
    width: 100px;
    border: 2px solid brown;
    position: absolute;
    top: 150px;
    left: 500px;
    transform: rotate(45deg);
       opacity:0.5 ;
}
.main4{
    height: 100px;
    width: 100px;
    border: 2px solid brown;
    position: absolute;
    top: 350px;
    left: 750px;
    transform: rotate(45deg);
    opacity:0.5 ;
}

.box2{
    height: 500px;
    width: 100%;
    background-color: aquamarine;
  
}
#data{
    position: absolute;
    top: 200px;
    left: 300px;
   font-size: 50px;
  color: black;
}
#img{
    height: 200px;
    width: 350px;
    border: 2px solid black;
    position: absolute;
    top: 210px;
    right: 100px;
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.BGLdt72KAA9QghNma9xm9QHaEK?pid=Api&P=0&h=180");
    background-size: cover;
}
#data1{
    position: absolute;
    top: 320px;
    left: 310px;
    color: rgb(71, 25, 25);
}
#button{
    height: 30px;
    width: 120px;
     position: absolute;
    top: 400px;
    left: 350px;
    background-color: brown;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}
.box3{
height: 70px;
width: 100%;
background-color: aquamarine;
}
#base{
    font-size: 40px;
    text-align: center;
    color: rgb(43, 8, 8);
}
.box4{
    height: 200px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
   
}
#main1{
    height: 170px;
    width: 250px;
    background-color: blueviolet;
    margin-left: 70px ;
    border-radius: 10px;
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.UtkB0g2Sx6u9oGy9jaqP1gHaEO?pid=Api&P=0&h=180");
    background-size: cover;
    margin-top: 20px;
}
#main2{
    height: 170px;
    width: 250px;
    background-color: blueviolet;
     border-radius: 10px;
     background-image: url("https://tse2.mm.bing.net/th/id/OIP.Z1mb13dCGbr9-O2Ipx-wKAHaEO?pid=Api&P=0&h=180");
     background-size: cover;
      margin-top: 20px;
}
#main3{
    height: 170px;
    width: 250px;
    background-color: blueviolet;
      border-radius: 10px;
      background-image: url("https://tse2.mm.bing.net/th/id/OIP.uH4KF6zReRXcUsT50VQeGgHaE8?pid=Api&P=0&h=180");
      background-size: cover;
       margin-top: 20px;
}
#main4{
    height: 170px;
    width: 250px;
    background-color: blueviolet;
     margin-right: 70px ;
     border-radius: 10px;
     background-image: url("https://tse2.mm.bing.net/th/id/OIP.u-HLNccI8KV1ZCmiMHVx5wHaE8?pid=Api&P=0&h=180");
     background-size: cover;
      margin-top: 20px;
}
.box5{
     height: 250px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
#main5{
    height: 170px;
    width: 250px;
    background-color: blueviolet;
     margin-right: 70px ;
     border-radius: 10px;
     background-image: url("https://tse2.mm.bing.net/th/id/OIP.u-HLNccI8KV1ZCmiMHVx5wHaE8?pid=Api&P=0&h=180");
     background-size: cover;
      margin-top: 20px;
      background-image: url("https://tse2.mm.bing.net/th/id/OIP.6WZzIMERX58X0wUIJVbn3wHaEK?pid=Api&P=0&h=180");
      background-size: cover;
       margin-right: 200px;
       position: relative;
      left: 300px;
      margin-top: 40px;
}
#main6{
    height: 170px;
    width: 250px;
    background-color: blueviolet;
     margin-right: 70px ;
     border-radius: 10px;
     background-image: url("https://tse2.mm.bing.net/th/id/OIP.u-HLNccI8KV1ZCmiMHVx5wHaE8?pid=Api&P=0&h=180");
     background-size: cover;
      margin-top: 20px;
      background-image: url("https://tse4.mm.bing.net/th/id/OIP.knLhsg3PWpWdndlICxxa6AHaEK?pid=Api&P=0&h=180");
      background-size: cover;
      margin-left: 200px;
      position: relative;
      right: 300px;
       margin-top: 40px;
}
.box6{
    height: 70px;
    width: 100%;
    background-color: aquamarine;
}
#analist{
    font-size: 40px;
    /* padding-top: 20px; */
    color: black;
     text-align: center;
}
.box7{
    height: 120px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
#num1{
    height: 90px;
    width: 120px;
    /* background-color: darkred; */
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px  10px brown;
}
#num2{
    height: 90px;
    width: 120px;
    /* background-color: darkred; */
    border-radius: 20px;
    box-shadow: 5px 5px  10px brown;
}
#num3{
    height: 90px;
    width: 120px;
    /* background-color: darkred; */
    border-radius: 20px;
    box-shadow: 5px 5px  10px brown;
}
#num4{
    height: 90px;
    width: 120px;
    /* background-color: darkred; */
    border-radius: 20px;
    box-shadow: 5px 5px  10px brown;
}
#num5{
    height: 90px;
    width: 120px;
    /* background-color: darkred; */
    border-radius: 20px;
    box-shadow: 5px 5px  10px brown;
}
#num6{
    height: 90px;
    width: 120px;
    /* background-color: darkred; */
    margin-right: 50px;
    border-radius: 20px;
     box-shadow: 5px 5px  10px brown;
}
#num7{
    padding-top: 20px;
     padding-left: 30px;
      color: black;
}
#num8{
    padding-top: 20px;
     padding-left: 30px;
      color: black;
}
#num9{
    padding-top: 20px;
     padding-left: 30px;
      color: black;
}
#num10{
    padding-top: 20px;
     padding-left: 30px;
      color: black;
}
#num11{
    padding-top: 20px;
     padding-left: 40px;
      color: black;
}
#num12{
    padding-top: 20px;
     padding-left: 30px;
      color: black;
}
#num71{
    text-align: center;
    padding-top: 10px;
     color: black;
}
#num72{
    text-align: center;
    padding-top: 10px;
     color: black;
}
#num73{
    text-align: center;
    padding-top: 10px;
     color: black;
}
#num74{
    text-align: center;
    padding-top: 10px;
     color: black;
}
#num75{
    text-align: center;
    padding-top: 10px;
    color: black;
}
#num76{
    text-align: center;
    padding-top: 10px;
     color: black;
}
.box8{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
     color: black;
     display: flex;
}
#rate{
    height: 500px;
    width: 40%;
    /* border: 2px solid black; */
    background-color: rgb(173, 239, 239);
    box-shadow: 8px 8px   10px rgb(87, 73, 73);
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}
#row1{
    height: 240px;
    width: 20px;
   
      background-color: rgb(9, 133, 133);
    margin-left: 20px;
    position: relative;
    top: 260px;
}
#row2{
    height: 200px;
    width: 20px;
   
    background-color: rgb(9, 133, 133);
     position: relative;
    top: 300px;
}
#row3{
    height: 290px;
    width: 20px;
   
    background-color: rgb(9, 133, 133);
    position: relative;
    top: 210px;
}
#row4{
    height: 320px;
    width: 20px;
    
    background-color: rgb(9, 133, 133);
    position: relative;
    top: 180px;
}
#row5{
    height: 400px;
    width: 20px;
   
    background-color: rgb(9, 133, 133);
    margin-right: 20px;
    position: relative;
    top: 100px;
}
#row6{
    height: 60px;
    width: 20px;
   
    background-color: rgb(9, 133, 133);
    margin-right: 20px;
    position: relative;
    top: 440px;
}
#row7{
    height: 260px;
    width: 20px;
    background-color: rgb(9, 133, 133);
    margin-right: 20px;
     position: relative;
    top: 240px;
}
#sign{
    font-size: 20px;
    display: flex;
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
     color: black;
}
#sign2{
    font-size: 20px;
     display: flex;
      position: absolute;
      left: 180px;
      padding-top: 20px;
       padding-left: 20px;
       color: black;
}
.box9{
    height: 20px;
    width: 150px;
    /* background-color: red; */
    position: absolute;
    margin-left: 25%;
   margin-top: 30px;
   display: flex;
  gap: 10px;
}
#box23{
height: 100%;
width: 33%;
/* background-color: brown; */
box-shadow: 8px 8px   10px rgb(87, 73, 73);
color: black;
}
#box24{
height: 100%;
width: 33%;
/* background-color: green; */
box-shadow: 8px 8px   10px rgb(87, 73, 73);
color: black;
}
#box25{
height: 100%;
width: 33%;
/* background-color: pink; */
box-shadow: 8px 8px   10px rgb(87, 73, 73);
color: black;
}
.box10{
   height: 500px;
    width: 40%;
    /* border: 2px solid black; */
    background-color: rgb(173, 239, 239);
    box-shadow: 8px 8px   10px rgb(87, 73, 73);
    margin-left: 10%;
     margin-right: 10%;
     display: flex;
     justify-content: space-around;

}
#san11{
    height: 120px;
    width: 20px;
    background-color: brown;
     margin-left: 4%;
     position: relative;
    top: 380px;
}
#san12{
    height: 120px;
    width: 20px;
    background-color: brown;
     margin-left: 4%;
     position: relative;
    top: 380px;
}
#san13{
    height: 220px;
    width: 20px;
    background-color: brown;
     margin-left: 4%;
     position: relative;
    top: 280px;
}
#san14{
    height: 40px;
    width: 20px;
    background-color: brown;
     margin-left: 4%;
     position: relative;
    top: 460px;
}
#san15{
    height: 340px;
    width: 20px;
    background-color: brown;
     margin-left: 4%;
     position: relative;
    top: 160px;
}
#graf{
    position: absolute;
    padding-top: 20px;
    font-size: 15px;
}
  .box11{
    height: 70px;
    width: 100%;
    background-color: aquamarine;
    
  }
  #report{
    text-align: center;
    font-size: 40px;
    color: black; 
  }
  .box12{
    height: 200px;
    width: 100%;
    /* background-color: rgb(190, 246, 227); */
    background-color: aquamarine;
    display: flex;
     justify-content: space-around;
  }
  #re1{
    height: 180px;
    width: 200px;
    background-color: aquamarine;
    /* background-color: rgb(152, 223, 223); */
    border-radius: 20px;
    box-shadow: 8px 8px   10px rgb(87, 73, 73);
  }
    #re2{
    height: 180px;
    width: 200px;
    /* background-color: black; */
     background-color: aquamarine;
     border-radius: 20px;
     box-shadow: 8px 8px   10px rgb(87, 73, 73);
  }
    #re3{
    height: 180px;
    width: 200px;
    /* background-color: pink; */
     border-radius: 20px;
      background-color: aquamarine;
     box-shadow: 8px 8px   10px rgb(87, 73, 73);
  }
    #re4{
    height: 180px;
    width: 200px;
    /* background-color: green; */
     background-color: aquamarine;
     border-radius: 20px;
     box-shadow: 8px 8px   10px rgb(87, 73, 73);
  }
  #re11{
    height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px ;
   color: black;
  }
#re12{
     height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px ;
   color: black; 
}
#re13{
     height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px ;
   color: black; 
}
#re14{
     height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px ;
   color: black; 
   
}
#home{
padding-top: 10px ;
text-align: center;
font-weight: bold;
color:black;
}
#home2{
padding-top: 10px ;
text-align: center;
font-weight: bold;
color:black;
}
#home3{
padding-top: 10px ;
text-align: center;
font-weight: bold;
color:black;
}
#home4{
padding-top: 10px ;
text-align: center;
font-weight: bold;
color:black;
}
#home11{
padding-top: 10px ;
text-align: center;
color: black;
}
#home12{
padding-top: 10px ;
text-align: center;
color:black;
}
#home13{
padding-top: 10px ;
text-align: center;
color:black;
}
#home14{
padding-top: 10px ;
text-align: center;
color:black;
}
#home21{
    font-size: 15px;
   text-align: center;
   color: black;
}
#home22{
    font-size: 15px;
   text-align: center;
   color: black;
}
#home23{
    font-size: 15px;
   text-align: center;
   color: black;
}
#home24{
    font-size: 15px;
   text-align: center;
   color: black;
} 

.header1{
    height: 70px;
    width: 100%;
    background-color: aquamarine;
}
.header1{
    text-align: center;
    color: black;
}
#get{
    color: black;
    padding-top: 20px;
}
.header{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
}
#item21{
    height: 500px;
    width: 35%;
    /* background-color: red; */
    border-radius: 20px;
    margin-left: 10%;
    box-shadow: 8px 8px   10px rgb(87, 73, 73);
    margin-top: 30px;
}
#item31{
    height: 500px;
    width: 35%;
    /* background-color: red; */
    border-radius: 20px;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 8px 8px   10px rgb(87, 73, 73);
     margin-top: 30px;
}
#item22{
   color: black;
   margin-left: 10%;
   margin-top: 20px;
} 
#item23{
    height: 23px;
    width: 230px;
    /* border: none; */
    margin-left: 10%;
   margin-top: 20px;
   padding-left: 20px;
    font-weight: bold;

}
#item24{
    height: 23px;
    width: 230px;
    /* border: none; */
    margin-left: 10%;
   margin-top: 20px;
   padding-left: 20px;
    font-weight: bold;
     

}
#item25{
    height: 23px;
    width: 230px;
    /* border: none; */
    margin-left: 10%;
   margin-top: 20px;
   padding-left: 20px;
    font-weight: bold;
}
#item26{
    height: 23px;
    width: 230px;
    /* border: none; */
    margin-left: 10%;
   margin-top: 20px;
   padding-left: 20px;
   font-weight: bold;
  
}
#item27{
    color: black;
   margin-left: 10%;
   margin-top: 20px;
}
#item28{
    height: 123px;
    width: 230px;
    /* border: none; */
    margin-left: 10%;
   margin-top: 20px;
   padding-left: 20px;
   font-weight: bold;
    padding-top: 20px;
}
#item32{
    height: 74px;
    width: 80%;
    /* background-color: black; */
    background-color: rgb(170, 228, 209);
    margin-top: 30px;
    border-radius: 20px;
    margin-left: 10%;
     box-shadow: 5px 5px 20px rgb(87, 73, 73);
}
#item33{
    height: 70px;
    width: 80%;
    /* background-color: black; */
     margin-top: 40px;
     border-radius: 20px;
    margin-left: 10%;
     background-color: rgb(170, 228, 209);
       box-shadow: 5px 5px 20px rgb(87, 73, 73);
}
#item34{
    height: 70px;
    width: 80%;
    background-color: black;
     margin-top: 40px;
     border-radius: 20px;
    margin-left: 10%;
     background-color: rgb(170, 228, 209);
       box-shadow: 5px 5px 20px rgb(87, 73, 73);
}
#item35{
    height: 70px;
    width: 80%;
    /* background-color: black; */
     margin-top: 40px;
     border-radius: 20px;
    margin-left: 10%;
     background-color: rgb(170, 228, 209);
     box-shadow: 5px 5px 20px rgb(87, 73, 73);

}
#item36{
    height: 70px;
    width: 80%;
    /* background-color: black; */
     margin-top: 40px;
     border-radius: 20px;
    margin-left: 10%;
     background-color: rgb(170, 228, 209);
     box-shadow: 5px 5px 20px rgb(87, 73, 73);
}
#font1{
    height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding-top: 5px;
    margin-left: 10px;
    padding-left: 7px;
}
#font11{
    height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding-top: 5px;
    margin-left: 10px;
     padding-left: 7px;
}
#font21{
    height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding-top: 5px;
    margin-left: 10px;
     padding-left: 7px;
}
#font31{
    height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding-top: 5px;
    margin-left: 10px;
     padding-left: 7px;
}
#font41{
    height: 20px;
    width: 30px;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding-top: 5px;
    margin-left: 10px;
     padding-left: 7px;
}
#font2{
    color: black;
    margin-left: 60px;
   
}
#font3{
    font-size: 13px;
    color: black;
    padding-left: 30px;
}
#font4{
    color: black;
    margin-left: 60px;
   
}
#font5{
    font-size: 13px;
    color: black;
    padding-left: 60px;
     padding-top: 5px;
}
#font6{
    color: black;
    margin-left: 60px;
   
}
#font7{
    font-size: 13px;
    color: black;
    padding-left: 40px;
     padding-top: 5px;
}
#font8{
    color: black;
    margin-left: 60px;
   
}
#font9{
    font-size: 13px;
    color: black;
    padding-left: 40px;
     padding-top: 5px;
}